# Plotting Data Lab

### Learning Objectives

* Understand the components of a point in a graph, an $x$ value, and a $y$ value 
* Understand how to plot a point on a graph, from a point's $x$ and $y$ value
* Get a sense of how to use a graphing library, like Plotly, to answer questions about our data

### Working again with our travel data

Let's again get our travel data from our excel spreadsheet.  If we do not already have `pandas` and `xlrd` for retrieving data from excel, we should install it now.

In [1]:
!pip install pandas
!pip install xlrd

Requirement already satisfied: pandas in /opt/conda/envs/learn-env/lib/python3.6/site-packages (0.23.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /opt/conda/envs/learn-env/lib/python3.6/site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2011k in /opt/conda/envs/learn-env/lib/python3.6/site-packages (from pandas) (2018.5)
Requirement already satisfied: numpy>=1.9.0 in /opt/conda/envs/learn-env/lib/python3.6/site-packages (from pandas) (1.16.3)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/learn-env/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas) (1.11.0)
You are using pip version 10.0.1, however version 19.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Requirement already satisfied: xlrd in /opt/conda/envs/learn-env/lib/python3.6/site-packages (1.1.0)
You are using pip version 10.0.1, however version 19.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [1]:
import pandas
file_name = './cities.xlsx'
travel_df = pandas.read_excel(file_name)
cities = travel_df.to_dict('records')

In [2]:
my_cities = travel_df.to_dict('index')

In [3]:
my_cities

{0: {'City': 'Buenos Aires',
  'Country': 'Argentina',
  'Population': 2891000,
  'Area': 4758},
 1: {'City': 'Toronto',
  'Country': 'Canada',
  'Population': 2800000,
  'Area': 2731571},
 2: {'City': 'Pyeongchang',
  'Country': 'South Korea',
  'Population': 2581000,
  'Area': 3194},
 3: {'City': 'Marakesh',
  'Country': 'Morocco',
  'Population': 928850,
  'Area': 200},
 4: {'City': 'Albuquerque',
  'Country': 'New Mexico',
  'Population': 559277,
  'Area': 491},
 5: {'City': 'Los Cabos',
  'Country': 'Mexico',
  'Population': 287651,
  'Area': 3750},
 6: {'City': 'Greenville', 'Country': 'USA', 'Population': 84554, 'Area': 68},
 7: {'City': 'Archipelago Sea',
  'Country': 'Finland',
  'Population': 60000,
  'Area': 8300},
 8: {'City': 'Walla Walla Valley',
  'Country': 'USA',
  'Population': 32237,
  'Area': 33},
 9: {'City': 'Salina Island',
  'Country': 'Italy',
  'Population': 4000,
  'Area': 27},
 10: {'City': 'Solta', 'Country': 'Croatia', 'Population': 1700, 'Area': 59},
 11: {'City': 'Iguazu Falls',
  'Country': 'Argentina',
  'Population': 0,
  'Area': 672}}

In [4]:
my_cities[0]

{'City': 'Buenos Aires',
 'Country': 'Argentina',
 'Population': 2891000,
 'Area': 4758}

In [6]:
my_cities.keys()

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11])

In [8]:
my_cities.items()

dict_items([(0, {'City': 'Buenos Aires', 'Country': 'Argentina', 'Population': 2891000, 'Area': 4758}), (1, {'City': 'Toronto', 'Country': 'Canada', 'Population': 2800000, 'Area': 2731571}), (2, {'City': 'Pyeongchang', 'Country': 'South Korea', 'Population': 2581000, 'Area': 3194}), (3, {'City': 'Marakesh', 'Country': 'Morocco', 'Population': 928850, 'Area': 200}), (4, {'City': 'Albuquerque', 'Country': 'New Mexico', 'Population': 559277, 'Area': 491}), (5, {'City': 'Los Cabos', 'Country': 'Mexico', 'Population': 287651, 'Area': 3750}), (6, {'City': 'Greenville', 'Country': 'USA', 'Population': 84554, 'Area': 68}), (7, {'City': 'Archipelago Sea', 'Country': 'Finland', 'Population': 60000, 'Area': 8300}), (8, {'City': 'Walla Walla Valley', 'Country': 'USA', 'Population': 32237, 'Area': 33}), (9, {'City': 'Salina Island', 'Country': 'Italy', 'Population': 4000, 'Area': 27}), (10, {'City': 'Solta', 'Country': 'Croatia', 'Population': 1700, 'Area': 59}), (11, {'City': 'Iguazu Falls', 'Country': 'Argentina', 'Population': 0, 'Area': 672})])

In [13]:
buenos_aires = {}
for i in my_cities:
    if my_cities[i]
    ['City'] == 'Buenos Aires':
        buenos_aires = i
        break
    print(my_cities[i])

In [14]:
my_cities[0]

{'City': 'Buenos Aires',
 'Country': 'Argentina',
 'Population': 2891000,
 'Area': 4758}

In [19]:
for i in my_cities:
    print(i)
    print(my_cities[i])
    print(my_cities[i]['City'])
    if my_cities[i]['City'] == 'Buenos Aires':
        buenos_aires = my_cities[i]

0
{'City': 'Buenos Aires', 'Country': 'Argentina', 'Population': 2891000, 'Area': 4758}
Buenos Aires
1
{'City': 'Toronto', 'Country': 'Canada', 'Population': 2800000, 'Area': 2731571}
Toronto
2
{'City': 'Pyeongchang', 'Country': 'South Korea', 'Population': 2581000, 'Area': 3194}
Pyeongchang
3
{'City': 'Marakesh', 'Country': 'Morocco', 'Population': 928850, 'Area': 200}
Marakesh
4
{'City': 'Albuquerque', 'Country': 'New Mexico', 'Population': 559277, 'Area': 491}
Albuquerque
5
{'City': 'Los Cabos', 'Country': 'Mexico', 'Population': 287651, 'Area': 3750}
Los Cabos
6
{'City': 'Greenville', 'Country': 'USA', 'Population': 84554, 'Area': 68}
Greenville
7
{'City': 'Archipelago Sea', 'Country': 'Finland', 'Population': 60000, 'Area': 8300}
Archipelago Sea
8
{'City': 'Walla Walla Valley', 'Country': 'USA', 'Population': 32237, 'Area': 33}
Walla Walla Valley
9
{'City': 'Salina Island', 'Country': 'Italy', 'Population': 4000, 'Area': 27}
Salina Island
10
{'City': 'Solta', 'Country': 'Croatia', 'Population': 1700, 'Area': 59}
Solta
11
{'City': 'Iguazu Falls', 'Country': 'Argentina', 'Population': 0, 'Area': 672}
Iguazu Falls

In [20]:
buenos_aires

{'City': 'Buenos Aires',
 'Country': 'Argentina',
 'Population': 2891000,
 'Area': 4758}

In [21]:
buenos_aires.keys()

dict_keys(['City', 'Country', 'Population', 'Area'])

In [15]:
print(my_cities[0])

{'City': 'Buenos Aires', 'Country': 'Argentina', 'Population': 2891000, 'Area': 4758}

In [11]:
buenos_aires

0

> Press shift + enter to run the code above.

In [4]:
cities

[{'City': 'Buenos Aires',
  'Country': 'Argentina',
  'Population': 2891000,
  'Area': 4758},
 {'City': 'Toronto',
  'Country': 'Canada',
  'Population': 2800000,
  'Area': 2731571},
 {'City': 'Pyeongchang',
  'Country': 'South Korea',
  'Population': 2581000,
  'Area': 3194},
 {'City': 'Marakesh', 'Country': 'Morocco', 'Population': 928850, 'Area': 200},
 {'City': 'Albuquerque',
  'Country': 'New Mexico',
  'Population': 559277,
  'Area': 491},
 {'City': 'Los Cabos',
  'Country': 'Mexico',
  'Population': 287651,
  'Area': 3750},
 {'City': 'Greenville', 'Country': 'USA', 'Population': 84554, 'Area': 68},
 {'City': 'Archipelago Sea',
  'Country': 'Finland',
  'Population': 60000,
  'Area': 8300},
 {'City': 'Walla Walla Valley',
  'Country': 'USA',
  'Population': 32237,
  'Area': 33},
 {'City': 'Salina Island', 'Country': 'Italy', 'Population': 4000, 'Area': 27},
 {'City': 'Solta', 'Country': 'Croatia', 'Population': 1700, 'Area': 59},
 {'City': 'Iguazu Falls',
  'Country': 'Argentina',
  'Population': 0,
  'Area': 672}]

In [24]:
len(cities)

12

In [25]:
my_cities = [{'City': 'Buenos Aires',
  'Country': 'Argentina',
  'Population': 2891000,
  'Area': 4758},
 {'City': 'Toronto',
  'Country': 'Canada',
  'Population': 2800000,
  'Area': 2731571},
 {'City': 'Pyeongchang',
  'Country': 'South Korea',
  'Population': 2581000,
  'Area': 3194},
 {'City': 'Marakesh', 'Country': 'Morocco', 'Population': 928850, 'Area': 200},
 {'City': 'Albuquerque',
  'Country': 'New Mexico',
  'Population': 559277,
  'Area': 491},
 {'City': 'Los Cabos',
  'Country': 'Mexico',
  'Population': 287651,
  'Area': 3750},
 {'City': 'Greenville', 'Country': 'USA', 'Population': 84554, 'Area': 68},
 {'City': 'Archipelago Sea',
  'Country': 'Finland',
  'Population': 60000,
  'Area': 8300},
 {'City': 'Walla Walla Valley',
  'Country': 'USA',
  'Population': 32237,
  'Area': 33},
 {'City': 'Salina Island', 'Country': 'Italy', 'Population': 4000, 'Area': 27},
 {'City': 'Solta', 'Country': 'Croatia', 'Population': 1700, 'Area': 59},
 {'City': 'Iguazu Falls',
  'Country': 'Argentina',
  'Population': 0,
  'Area': 672}]

In [26]:
my_cities

[{'City': 'Buenos Aires',
  'Country': 'Argentina',
  'Population': 2891000,
  'Area': 4758},
 {'City': 'Toronto',
  'Country': 'Canada',
  'Population': 2800000,
  'Area': 2731571},
 {'City': 'Pyeongchang',
  'Country': 'South Korea',
  'Population': 2581000,
  'Area': 3194},
 {'City': 'Marakesh', 'Country': 'Morocco', 'Population': 928850, 'Area': 200},
 {'City': 'Albuquerque',
  'Country': 'New Mexico',
  'Population': 559277,
  'Area': 491},
 {'City': 'Los Cabos',
  'Country': 'Mexico',
  'Population': 287651,
  'Area': 3750},
 {'City': 'Greenville', 'Country': 'USA', 'Population': 84554, 'Area': 68},
 {'City': 'Archipelago Sea',
  'Country': 'Finland',
  'Population': 60000,
  'Area': 8300},
 {'City': 'Walla Walla Valley',
  'Country': 'USA',
  'Population': 32237,
  'Area': 33},
 {'City': 'Salina Island', 'Country': 'Italy', 'Population': 4000, 'Area': 27},
 {'City': 'Solta', 'Country': 'Croatia', 'Population': 1700, 'Area': 59},
 {'City': 'Iguazu Falls',
  'Country': 'Argentina',
  'Population': 0,
  'Area': 672}]

### Plotting our first graph

As we can see, in our list of cities, each city has a population number.  Our first task will be to display the populations of our first three cities in a bar chart.

First we load the plotly library into our notebook, and we initialize this offline mode.

In [24]:
import plotly 
plotly.tools.set_credentials_file(username='markabrennan', api_key='UeAB9wmkLbENL9i')

Now the next step is to build a trace.  As we know our trace is a dictionary with a key of `x` and a key of `y`.  We have set up a trace to look like the following: `trace_first_three = {'x': x_values, 'y': y_values}`.  

First define `x_values` so that it is a list of names of the first three cities.  Use what we learned about accessing information from lists and dictionaries to assign `x_values` equal to the first three cities.

In [6]:
x_values = [cities[0]['City'], cities[1]['City'], cities[2]['City']]

In [7]:
x_values

['Buenos Aires', 'Toronto', 'Pyeongchang']

In [8]:
x_val = list(cities[0:3]['City'])

TypeError: list indices must be integers or slices, not str

In [21]:
x_values = [i['City'] for i in cities[0:3]]

In [10]:
x_values

['Buenos Aires', 'Toronto', 'Pyeongchang']

Now use list and dictionary accessors to set `y_values` equal to the first three populations.

In [11]:
y_values = [i['Population'] for i in cities[0:3]]
y_values

[2891000, 2800000, 2581000]

Now let's plot our data.

In [25]:
plotly.offline.init_notebook_mode(connected=True)
trace_first_three_pops = {'x': x_values, 'y': y_values}


plotly.offline.iplot([trace_first_three_pops])

NameError: name 'x_values' is not defined

In [13]:
trace_first_three_pops

{'x': ['Buenos Aires', 'Toronto', 'Pyeongchang'],
 'y': [2891000, 2800000, 2581000]}

### Modifying our first trace

Note that by default, plotly sets the type of trace as a line trace.  In the next example, let's make our trace a bar trace by setting the `'type'` key equal to `'bar'`.  We can continue to use our lists of `x_values` and `y_values` that we defined above and used in our previous trace. To make our new trace more informative, we can assign labels to our data when we plot it. Normally, when we see a bar graph, there are labels along the x-axis for specific values. Understanding that we are plotting data about different cities, our labels would sensibly be a list of corresponding city names. 

We can designate these corresponding city names in our trace dictionary by assigning a list of strings to the `text` key:

```python
example_trace = {'type': 'bar', 'x': x_values, 'y': y_values, 'text': ["label_1", "label_2", "label_3"]}
```

Assign the variable `text_values` equal to a list of names for the first three cities. Then we pass this information to our trace dictionary and assign it as the value for its `text` key.

In [14]:
text_values = ['Buenos Aires', 'Toronto', 'Pyeongchang']
bar_trace_first_three_pops = {'type': 'scatter', 'x': x_values, 'y': y_values, 'text': text_values}

In [15]:
text_values

['Buenos Aires', 'Toronto', 'Pyeongchang']

In [16]:
bar_trace_first_three_pops['type'] # 'bar'

'scatter'

In [22]:
plotly.offline.iplot([bar_trace_first_three_pops])

NameError: name 'plotly' is not defined

### Adding a second trace to plot side by side

Ok, now let's plot two different traces side by side.  First, create another trace called `bar_trace_first_three_areas` that is like our `bar_trace_first_three_pops` except the values are a list of areas.  We will display this side by side along our `bar_trace_first_three_pops` in the plot below.

In [18]:
cities

[{'City': 'Buenos Aires',
  'Country': 'Argentina',
  'Population': 2891000,
  'Area': 4758},
 {'City': 'Toronto',
  'Country': 'Canada',
  'Population': 2800000,
  'Area': 2731571},
 {'City': 'Pyeongchang',
  'Country': 'South Korea',
  'Population': 2581000,
  'Area': 3194},
 {'City': 'Marakesh', 'Country': 'Morocco', 'Population': 928850, 'Area': 200},
 {'City': 'Albuquerque',
  'Country': 'New Mexico',
  'Population': 559277,
  'Area': 491},
 {'City': 'Los Cabos',
  'Country': 'Mexico',
  'Population': 287651,
  'Area': 3750},
 {'City': 'Greenville', 'Country': 'USA', 'Population': 84554, 'Area': 68},
 {'City': 'Archipelago Sea',
  'Country': 'Finland',
  'Population': 60000,
  'Area': 8300},
 {'City': 'Walla Walla Valley',
  'Country': 'USA',
  'Population': 32237,
  'Area': 33},
 {'City': 'Salina Island', 'Country': 'Italy', 'Population': 4000, 'Area': 27},
 {'City': 'Solta', 'Country': 'Croatia', 'Population': 1700, 'Area': 59},
 {'City': 'Iguazu Falls',
  'Country': 'Argentina',
  'Population': 0,
  'Area': 672}]

In [19]:
areas =  [i['Area'] for i in cities[0:3]]

In [20]:
areas

[4758, 2731571, 3194]

In [ ]:
areas

In [25]:
bar_trace_first_three_areas = {'type': 'bar', 'x': areas, 'y': y_values, 'text': text_values}
bar_trace_first_three_pops = {'type': 'bar', 'x': x_values, 'y': y_values, 'text': text_values}

In [26]:
plotly.offline.iplot([bar_trace_first_three_pops, bar_trace_first_three_areas])

### Summary

In this section, we saw how we use data visualizations to better understand the data.  We do the following.  Import plotly:


    import plotly

    plotly.offline.init_notebook_mode(connected=True)

Then we define a trace, which is a Python dictionary.

    trace = {'x': [], 'y': [], 'text': [], 'type': 'bar'}
    
Finally, we display our trace with a call to the following method:

    plotly.offline.iplot([trace])
    
Easy peasy, quick and easy!